
h3{
  background-color:black;
  color:  lightblue;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 28px;
  width : 50%;
  margin: 0 auto;
  width:100%;
  font-weight: bold;
  font-family: 'Exo', sans-serif;
}

.card{
  margin-top: 0 auto;
   margin-bottom: 0 auto;
  padding-bottom: 1px;
}
.card-body{
   margin-bottom: 0 auto;
  padding-bottom: 1px;
}

.container-fluid{
   margin-bottom: 0 auto;
  padding-bottom: 1px;
  margin-top: 0;
}

h4{
  font-size: 35px;
  color: #042431;
}
.material-icons{
  font-size: 40px;
}


